/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 27, 2023, 8:01:29 PM
    Author     : aunchisachanatipakul
*/
body {
  background-color: #CBC3E3;
}

h1 {
  color: #301934;
}

